# Data Science Tools And Ecosystem

En este cuaderno, se resumen las herramientas y ecosistemas de ciencia de datos.

Algunos de los lenguajes populares que utilizan los científicos de datos son:
- Python
- C++
- R

Algunas de las bibliotecas comunmente utilizadas por los científicos de datos incluyen:
- Pandas
- Matplotlib
- Seaborn
- Numpy

In [3]:
import pandas as pd

In [15]:
herramientas= ["Jupyter Notebook", "Rstudio", "Apache zepellin"]

tabla = pd.DataFrame(herramientas, columns = ["Herramientas de ciencia de datos"])
tabla

  Herramientas de ciencia de datos
0                 Jupyter Notebook
1                          Rstudio
2                  Apache zepellin

### A continuación, se presentan algunos ejemplos de evaluación de expresiones aritméticas en python

In [20]:
(3*4)+5 #Esta es una expresión que multiplica y suma números enteros

17

In [24]:
x = 200
minutos_a_horas = round(x/60,2) #Esta expresión transforma el valor de x de minutos a horas dividiendo entre 60
minutos_a_horas

3.33

**Objetivos:**
- Listar lenguajes populares para ciencia de datos.
- Listar bibliotecas comunes en ciencia de datos.
- listar herramientas útiles.
- Realizar expresiones aritméticas.

## Autor
Israel Méndez Caneo